{% block head %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js" defer></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link rel="icon" type="image/png" href="/images/favicon-mia.png">
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}
{% endblock %}

{% block body %}{% endblock %}
